@font-face { font-family: Hombre; src: url('font/Hombre.ttf'); }
@font-face { font-family: Digital_Strip; src: url('font/KZ_Digital_Strip.ttf'); }
@font-face { font-family: Samsung_Sharp_Sans; src: url('font/KZ_SamsungSharpSans.ttf'); }


* {
	margin: 0;
	font-family: Samsung_Sharp_Sans;
/*	font-family: Digital_Strip;*/
}

body {
    background-color: #888;
}

.container {
	display: block;
	width: 140vh;
    height: 100vh;
	margin: auto;
}

.navbar-outer {
/*	background-color: white;*/
	display: flex;
	align-items: center;
}

.navbar {
	width: 50%;
	height: 8vh;
	font-size: 2.5vh;
	background-image: linear-gradient(to bottom,#2593fd,#0b62ef);
	border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
	margin: auto;
	/*margin-left: 50%; 
 	transform: translateX(-50%);
*/	position: relative;
/*	padding: 0;*/
	display: flex;
}

.navbar ul {
	padding:0;
	width: 100%;
	height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navber ul li a img {
	width: 3vh; height: 3vh;
}

.navbar-outer a {
    color: #fff;
    opacity: 60%;
    text-decoration: none;
	font-family: Digital_Strip;    
}

.navbar-outer a:hover {
	opacity: 100%;
	cursor: pointer;
}

.exit-btn {	
	position: fixed;
	font-size: 3vh;
	margin: 130vh;
	padding: 0;
	background-color: transparent;
	border: 0;
	color: white;
}

.overlay {
	width: 140vh;
    height: 100vh;
    margin-left: 50%; 
 	transform: translateX(-50%);
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.5);
}

#ins.overlay {
	background-color: rgba(0,0,0, 0.0);
}

.overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
}

.overlay .closebtn {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 6vh;
	height: 6vh;
	padding: 0;
/*	top: 20px;*/
	right: 0;
	font-size: 7vh;
	background-color: #d9d9d9;
}

@media screen and (max-height: 450px) {
	.overlay a {font-size: 20px}
	.overlay .closebtn {
	font-size: 40px;
	top: 15px;
	right: 35px;
	}
}

.outer-ins {
/*	background-color: red;*/
	width: 104vh;
	height: 66vh;
	position: fixed;
	display: flex;
    margin-left: 50%; 
 	transform: translateX(-50%);
 	top: 17vh;
}

.inner-ins {
	background-color: #fff;
	width: 99vh;
	height: 60vh;
    margin-left: 2vh;
	align-self: center;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border: 1.5vh solid #d9d9d9;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;
	align-items: center;
}

.inner-ins p ,.inner-ins h2 , {
	font-family: Hombre;
	font-size: 3vh;
}

.inner-ins h3 {
	font-size: 3vh;
	color: white;
}

.bubble {
	width: 20vh;
	height: 20vh;
    background-image: url('img/bubble.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inst-text-box {
	width: 65vh;
	height: 50vh;
	overflow-y: scroll;
	text-align: start;
}

.box {
/*	background-color: red;*/
	width: 75vh;
	height: 5vh;
	display: flex;
	align-items: center;
}

.in-box {
	width: 40%;
	text-align: end;
}

.in-box-two {
	display:flex;
/*	background-color: blue;*/
	width: 60%;
	align-items: center;
}

.xdirection {
	width: 50%;
	margin-left: 10%;
}